@media only screen and (max-width: 600px) {


    header {
        font-size: 50%;
        padding: 2px;
        margin: auto;
        font-size: 0.8em;
    }
    header > h1 {
        margin: 10px;
    }

    header > h2 {
        margin: 0px 20px 10px 20px;
    }

    body {
        margin: 0px;
        padding: 0px;
        max-width: 100%;
    }

    .menu {
        display: flex;
        margin: auto
    }

    .menu>a {
        margin-right: 10px;
        text-decoration: none;
        color: var(--cor0);
        font-size: 0.9em;
        padding: 10px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    main {
        width: 60%;
        margin: auto;
    }

    main>h1, h2 {
        font-size: 1.2em;
        margin: 5px;
    }

    img {
        width: 80vw;
        margin: auto;
        align-items: center;
    }

    iframe {
        max-height: 300px;
    }

    aside {
        font-size: 0.7em;
    }

    .lista-aside {
        width: 100vw;
        width: 50%;
        columns: 1;
        margin: auto;
        padding: 15px 0px;
    }

    footer {
        max-width: 100%;
        padding: 10px 10px;
        margin-top: 10px;
        height: 60px;
        font-size: 0.9em;
    }

    footer>a {
        padding: 2px;
    }

    .link-footer-kevin {
        padding: 2px;
    }

    .linha1-footer-responsivo {
        display: block;
    }
}